{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "docs/prologue/introduction/" | absURL }}" role="button">Get started</a>
      <p class="meta">Apache License 2.0 </p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Multi DL framework support</h2>
        <p>Support TensorFlow, PyTorch etc. DL training workloads in a single controller.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Metadata and metrics </h2>
        <p>Persist workload metadata in a pluggable storage and provide workload insights.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Advanced scheduling</h2>
        <p>Advanced scheduling capabilities tailored for deep learning workloads.</p>
      </div>
      <div class="col-lg-6">
        <h2 class="h4">Deploy Anywhere</h2>
        <p>Run on cloud or on prem with host network.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
